.wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  #wordDisplay {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .word-letter{
    margin-right: 10px;
  }

  #keyboard {
    display: grid;
    grid-template-columns: repeat(10, 40px);
    gap: 3px;
    margin-bottom: 20px;
    justify-content: center;
  }

  .key {
    width: 40px;
    height: 40px;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 16px;
    background-color: #fff;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #e0e0e0;
    }

    &.incorrect {
      background-color: #ffcccc;
    }
    &.correct {
      background-color: #89ff89;
    }
  }

}